message-erreur.signature {
    color: white;
;
}

.btn-primary.disabled, .btn-primary:disabled{
    background-color: grey;
}


#reservation-current{
    position: fixed;
    background-color: #ffffff;
    bottom: 0;
    width: 100%;
}
 #header-information-reservation {
    background-color: #64a19d;
     color: #ffffff;
    text-align: center;
}
#reservation-current-body {
    background-color: white;
    text-align: center;
}

.error{
    border-color: red;
}

#icon{
    width: 3%;
    height: 3%;
}

#espace{
    height: 50px;
}

#container-reservation{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../images/velib.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../images/velib.jpg");
    background-position: center;
    background-repeat: repeat;
    background-attachment: scroll;
    background-size: cover;
}
